@import './../../../styles/shared.module.scss';
.AppWrapperNavigation {
    display: flex;
    flex-direction: column;
    width: 15vw;
    padding: 0 1.5vw;
    height: 100vh;
    .Logo {
        @extend .Logo;
        height: 56px;
        margin-bottom: 50px;
    }
    .NavLink {
        padding: 12px 20px;
        transition: 0.25s;
        border-radius: 2px;
        &:hover {
            background-color: lightgrey;
        }
        h1 {
            font-size: 0.8vw;
            // font-weight: 400;
            text-transform: uppercase;
        }
    }
    .CloseButton {
        transition: 0.25s;
        height: 40px;
        margin: auto -1.5vw 0;
        border: none;
        background-color: white;
        transition: 0.25s;
        cursor: pointer;
        &:hover {
            background-color: $redPrimary;
            color: white;
        }
    }
}