@import './../../../styles/shared.module.scss';
.WriteWrapperHeader {
    background-color: white;
    height: 58px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}