.HomeWrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100vw;
    height: 100%;
    background-image: url("../../public/imgs/hero.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    .Center {
        width: 800px;
        padding-bottom: 100px;
        .Scroller {
            border-radius: 20px;
            margin-top: 300px;
            width: inherit;
            height: fit-content;
            background-color: white;
            opacity: 0.9;
            padding: 40px 50px 20px;
            h1 {
                text-align: center;
            }
            p {
                font-size: 1.5rem;
            }
        }
    }
}