@import './../styles/shared.module.scss';
.ModalWrapper {
    background-color: rgba(0, 0, 0, 0);
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    cursor: pointer;
    transition: 0.3s;
    z-index: 10;
    overflow: hidden;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
    &.Toggled {
        background-color: rgba(0, 0, 0, 0.3);
        pointer-events: auto;
    }
    .Modal {
        display: flex;
        visibility: hidden;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        background-color: white;
        width: fit-content;
        height: fit-content;
        padding: 0 15px 15px;
        border-radius: 5px;
        z-index: 21;
        margin-top: 150vh;
        transition: 0.4s;
        cursor: auto;
        position: relative;
        overflow: hidden;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
        &::-webkit-scrollbar {
            display: none;
        }
        &.Toggled {
            margin-top: 0px;
            visibility: visible;
        }
        .ModalCloser {
            position: absolute;
            align-self: flex-end;
            font-weight: bold;
            margin-top: 15px;
            color: lightgrey;
            cursor: pointer;
            transition: 0.3s;
            font-size: 0.8rem;
            &:hover {
                color: black;
            }
        }
        form {
            padding: 15px 0 0;
            display: flex;
            flex-direction: column;
            h1 {
                font-weight: bold;
                font-size: 2rem;
                color: $redPrimary;
                span {
                    color: $redPrimary;
                }
            }
            .ErrorMessage {
                color: green;
                height: 15px;
                font-size: 0.5rem;
                overflow: hidden;
                margin-bottom: 0;
            }
            &>span {
                display: flex;
                flex-direction: column;
                margin-bottom: 15px;
                label {
                    font-size: 0.6rem;
                    font-weight: bold;
                    color: grey;
                    margin-top: 5px;
                }
                input,
                select {
                    border: none;
                    border-bottom: 1px solid lightgrey;
                    font-weight: bold;
                    font-size: 0.9rem;
                    color: black;
                    padding: 0 5px 3px;
                    outline: none;
                    transition: 0.3s;
                    &::placeholder {
                        color: grey;
                    }
                    &:-webkit-autofill {
                        -webkit-box-shadow: 0 0 0px 1000px white inset;
                    }
                    &:focus {
                        border-bottom-color: $redPrimary;
                    }
                }
            }
            input[type="submit"] {
                border-radius: 5px;
                height: 35px;
                transition: 0.3s;
                color: white;
                font-weight: bold;
                font-size: 1rem;
                width: 100%;
                cursor: pointer;
                margin-top: 15px;
                margin-bottom: 0px;
                background-color: $redPrimary;
                border: 2px solid $redPrimary;
                &:hover {
                    background-color: white;
                    color: $redPrimary;
                }
            }
        }
    }
}