$redPrimary: #940a0a;
$background: rgb(250, 246, 246);
.Logo {
    font-size: 2vw;
    span {
        color: $redPrimary;
        font-size: .85vw;
        text-transform: uppercase;
    }
}

.Card {
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    padding: 20px 30px;
    margin-bottom: 20px;
}

.WriteForm {
    @extend .Card;
    background-color: white;
    display: flex;
    flex-direction: column;
    span {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        label {
            font-size: 1rem;
            margin-bottom: 5px;
        }
        input {
            height: 35px;
            outline: none;
            font-size: 1rem;
            border: 2px solid lightgrey;
            border-radius: 5px;
            transition: 0.25s;
            &:hover {
                border-color: grey;
            }
            &:focus {
                border-color: $redPrimary;
            }
        }
        textarea {
            border-radius: 5px;
            max-width: 100%;
            min-width: 100%;
            resize: none;
            outline: none;
            padding: 10px 15px;
            font-size: 1rem;
            border: 2px solid lightgrey;
            transition: 0.25s;
            &:hover {
                border-color: grey;
            }
            &:focus {
                border-color: $redPrimary;
            }
        }
    }
    input[type="submit"] {
        width: 100%;
        background-color: $redPrimary;
        color: white;
        transition: 0.25s;
        cursor: pointer;
        height: 45px;
        border-radius: 5px;
        border: 2px solid $redPrimary;
        font-weight: bold;
        font-size: 1.2rem;
        text-transform: uppercase;
        &:hover {
            background-color: white;
            color: $redPrimary;
        }
    }
}