$redPrimary: #940a0a;
$background: rgb(242, 242, 242);
.Logo {
    font-size: 2vw;
    span {
        color: $redPrimary;
        font-size: .85vw;
        text-transform: uppercase;
    }
}

.Card {
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    padding: 20px 30px;
    margin-bottom: 20px;
}